.cross_line {
    position: fixed;
    display: block;
    border: none medium;
    top: 0;
    left: 0;
    margin: 0;
}

.cross_line_x {
    composes: cross_line;
    height: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
}

.cross_line_y {
    composes: cross_line;
    width: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);

}
