.button {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    border: none medium;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    color: transparent;
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 0;
}

.zoom_panel {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: -5px;
}

.zoom_in {
    composes: button;
    margin-right: -1px;
    background-image: url('../images/zoom-in.png');
}

.zoom_in:hover {
    background-image: url('../images/zoom-in-hover.png');
}

.zoom_out {
    composes: button;
    margin-left: 0;
    background-image: url('../images/zoom-out.png');
}

.zoom_out:hover {
    background-image: url('../images/zoom-out-hover.png');
}

.x1 {
    composes: button;
    background-image: url('../images/x1.png');
}

.x2 {
    composes: button;
    background-image: url('../images/x2.png');
}

.x3 {
    composes: button;
    background-image: url('../images/x3.png');
}

.x4 {
    composes: button;
    background-image: url('../images/x4.png');
}

.x5 {
    composes: button;
    background-image: url('../images/x5.png');
}

.x6 {
    composes: button;
    background-image: url('../images/x6.png');
}

.x7 {
    composes: button;
    background-image: url('../images/x7.png');
}

.x8 {
    composes: button;
    background-image: url('../images/x8.png');
}

.x9 {
    composes: button;
    background-image: url('../images/x9.png');
}

.x10 {
    composes: button;
    background-image: url('../images/x10.png');
}

.x11 {
    composes: button;
    background-image: url('../images/x11.png');
}

.x12 {
    composes: button;
    background-image: url('../images/x12.png');
}

.x13 {
    composes: button;
    background-image: url('../images/x13.png');
}

.x14 {
    composes: button;
    background-image: url('../images/x14.png');
}

.x15 {
    composes: button;
    background-image: url('../images/x15.png');
}

.x16 {
    composes: button;
    background-image: url('../images/x16.png');
}

.x1:hover {
    background-image: url('../images/x1-hover.png');
}

.x2:hover {
    background-image: url('../images/x2-hover.png');
}

.x3:hover {
    background-image: url('../images/x3-hover.png');
}

.x4:hover {
    background-image: url('../images/x4.png');
}

.x5:hover {
    background-image: url('../images/x5-hover.png');
}

.x6:hover {
    background-image: url('../images/x6-hover.png');
}

.x7:hover {
    background-image: url('../images/x7-hover.png');
}

.x8:hover {
    background-image: url('../images/x8-hover.png');
}

.x9:hover {
    background-image: url('../images/x9-hover.png');
}

.x10:hover {
    background-image: url('../images/x10-hover.png');
}

.x11:hover {
    background-image: url('../images/x11-hover.png');
}

.x12:hover {
    background-image: url('../images/x12-hover.png');
}

.x13:hover {
    background-image: url('../images/x13-hover.png');
}

.x14:hover {
    background-image: url('../images/x14-hover.png');
}

.x15:hover {
    background-image: url('../images/x15-hover.png');
}

.x16:hover {
    background-image: url('../images/x16-hover.png');
}
